.columns > div {
  display: flex;
  flex-direction: column;
}

.columns-wrapper {
  padding: 0px 24px !important;
}

.featured-article {
  margin-top: 50px;
  background-color: var(--light-gray);
}

.featured-article .columns-img-col img {
  height: 100%;
  width: 100%;
}

.featured-article .columns-img-col {
  flex: 1.5;
}
.columns img {
  width: 100%;
}

.columns > div > div {
  order: 1;
}

.columns > div > .columns-img-col {
  order: 0;
}

.columns > div > .columns-img-col img {
  display: block;
}

@media (width >= 900px) {
  .columns > div {
    flex-direction: unset;
    gap: 24px;
  }

  .columns > div > div {
    flex: 1;
    order: unset;
  }
}
