footer {
  background-color: var(--footer-bg);
  font-size: var(--body-font-size-xs);
  color: white;
}

footer .footer > div {
  margin: auto;
  max-width: 1200px;
  padding: 40px 24px 24px;
}

footer .footer p {
  margin: 0;
  font-size: 14px;
}

footer .footer-link-wrapper .default-content-wrapper {
  display: flex;
  align-items: end;
  flex-wrap: wrap;
}

footer .footer-link-wrapper .button {
  color: white;
  cursor: pointer;
  padding: 0px 10px;
  background-color: transparent;
  margin: 0px;

}

footer .footer-below-content {
  margin-top: 50px;
}

footer .footer-upper-section h4 a {
  padding: 8px;
  background-color: white;
}
footer .footer-upper-section h4 a:hover {
text-decoration: none;
}

footer .footer-upper-section  a img {
 width: 16px;
 height: 16px;
  
}


footer .footer-upper-section {
  display: flex;
  align-items: end;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 60px;
}

footer .footer-upper-section img{
  width: 128px;
  height: 48px;
}

@media (width >= 900px) {
  footer .footer > div {
    padding: 40px 32px 24px;
  }
}
